main {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.fiveday_day {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: lime;
    overflow: auto;
}

.weather_card {
    transform: scale(0.7);
}