:root {
    --colour_1: #E19898;
    --colour_2: #A2678A;
    --colour_3: #4D3C77;
    --colour_4: #3F1D38;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body {
    background-color: mediumaquamarine;
}



/* index or homepage floating containers and ui styling */



/* Consent container styling */
.consent-container {
    background-color: #ffffe0; /* Light yellow background */
    width: 50%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

/* Custom switch styling */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

/* Weather details styling */
.weather-details {
    display: none; /* Hidden by default */
    padding: 20px;
    margin-top: 20px;
}


/* log in and registeration styling within the floating rectangle*/

/* Main container styling */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #4CAF50; 
}

/* Left and right container styling */
.left-container, .right-container {
    background-color: #ffffe0; /* Light yellow background */
    width: 50%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 10px;
}



/* weather card css styling*/
.weather_card * {
    margin: 0;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.weather_card {
    //border: 3px solid;
    border-radius: 10px;
    box-shadow: 0px 10px 15px 1px black;
    display: inline-flex;
    flex-direction: column;
    padding: 25px 10px 25px 10px;
    background-color: whitesmoke;
    transition: box-shadow 0.5s ease-in-out;
}

    .weather_card:hover {
        box-shadow: 0px 10px 20px 1px var(--colour_1);
    }

    .weather_card sup {
        font-size: 30px;
    }

.weather_card_location, .weather_card_description {
    align-self: center;
}

.weather_card_location {
    font-weight: normal;
}

.weather_card_description {
    color: darkgray;
}

.weather_card_temperature /*, .weather_card_extras*/ {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

    .weather_card_temperature h1 {
        font-size: 70px;
        font-weight: 300;
    }

.weather_card_extras {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

    .weather_card_extras div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

.weather_card_precipitation, .weather_card_wind {
    max-width: 100px;
}

    .weather_card_precipitation p, .weather_card_wind p {
        font-size: smaller;
    }

    .weather_card_precipitation img, .weather_card_wind img {
        object-fit: fill;
        max-width: 80px;
        max-height: 80px;
    }



    /*test commit*/
/* Delete me later */
.weather_card {
evans_new_branch
    margin: 300px 0px 0px 50px;
}

.weather_card_collection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#map {
    height: 500px;
    width: 100%;
}